@model credit_calculator.Models.Credit

@{
    ViewBag.Title = "CalculateCredit";
}

@using (Html.BeginForm("Result", "Home", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <form id="creditData" class="block-alignment">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group block-alignment">
            @Html.Label("РАСЧЁТ АННУИТЕТНОГО ПЛАТЕЖА", new { htmlAttributes = new { @class = "block-alignment" } })
        </div>
        <hr />
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.CreditAmount)
                @Html.EditorFor(model => model.CreditAmount, new { htmlAttributes = new { @class = "form-control focus", @autofocus = "autofocus", @placeholder = "Введите сумму кредита" } })
                @Html.ValidationMessageFor(model => model.CreditAmount, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.CreditRate)
                @Html.EditorFor(model => model.CreditRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите процентную ставку" } })
                @Html.ValidationMessageFor(model => model.CreditRate, "", new { @class = "text-danger" })
                <div class="rad">
                    <input id="rateYear" name="rate" type="radio" checked="checked" />
                    <span>в год&nbsp;</span>
                    <input id="rateDay" name="rate" type="radio" />
                    <span>в день</span> <br />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.CreditPeriod)
                @Html.EditorFor(model => model.CreditPeriod, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите срок кредита" } })
                @Html.ValidationMessageFor(model => model.CreditPeriod, "", new { @class = "text-danger" })
            </div>
            <div id="hide" class="form-group col-md-6 active">
                @Html.LabelFor(model => model.PaymentStep)
                @Html.EditorFor(model => model.PaymentStep, new { htmlAttributes = new { @id = "payStep", @class = "form-control", @Value = "1", @placeholder = "Введите шаг платежа" } })
                @Html.ValidationMessageFor(model => model.PaymentStep, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 btn-float">
                <input type="submit" class="btn btn-default btn-style btn-warning " value="Рассчитать">
            </div>
        </div>
    </form>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[name = "rate"]').click(function () {
                if ($('input[id = "rateDay"]').prop('checked')) {
                    $('div[id = "hide"]').show("slow");
                    $('input[id = "payStep"]').val("");
                    ViewData["isChecked"] = true;
                }
                if (!$('input[id = "rateDay"]').prop('checked')) {
                    $('div[id = "hide"]').hide(300);
                    $('input[id = "payStep"]').val("1");
                    ViewData["isChecked"] = false;
                }
            })
        });
    </script>
}
