@model credit_calculator.Models.Payment[]

@{
    ViewBag.Title = "Result Page";
}

@using (Html.BeginForm("Result", "Home"))
{
     <div class="container block-alignment">
         <div class="row">
             <div class="col block-alignment">
                  @Html.Label("ГРАФИК ПЛАТЕЖЕЙ", new { htmlAttributes = new { @class = "block-alignment" } })
             </div>
             <pre class="prettyprint pre-scrollable">
                 @if (Model.Length > 0)
                 {
                     <table class="table w-70">
                         <thead class="thead-light">
                             <tr>
                                 <th scope="col">№<br>платежа</th>
                                 <th scope="col">Дата<br>платежа</th>
                                 <th scope="col">Размер платежа<br>по телу, руб.</th>
                                 <th scope="col">Размер платежа<br>по %, руб.</th>
                                 <th scope="col">Остаток основного<br>долга, руб.</th>
                             </tr>
                         </thead>
                         <tbody>
                             @foreach (credit_calculator.Models.Payment pay in Model)
                             {
                                 <tr>
                                     <th scope="row">@pay.Id</th>
                                     <td>@pay.Date</td>
                                     <td>@pay.Body</td>
                                     <td>@pay.Percent</td>
                                     <td>@pay.MainBalance</td>
                                 </tr>
                             }
                             <table class="table w-70">
                                 <tbody class="thead-light">
                                     <tr>
                                         <th scope="col">Итого переплата по кредиту, руб.:                                                @ViewData["totalOverpay"]</th>
                                     </tr>
                                 </tbody>
                             </table>
                         </tbody>
                     </table>
                 }
             </pre>
             <div class="col">
                 <p><input type="submit" class="btn btn-default btn-warning" value="Экспорт расчётов в .csv"></p>
             </div>
         </div>
     </div>
}